<section class="carts-craft-cta section-gap">
    <div class="carts-craft-cta__grid ecommerce-container">
        <div class="carts-craft-cta__content">
            <div class="carts-craft__cta__text">
                <h3 class="title-gap">Call to Action</h3>
                <form action="">
                    <div class="form-input">
                        <input type="text" placeholder="Name :" name="name">
                    </div>
                    <div class="form-input">
                        <input type="email" placeholder="Enter Your Email :" name="email">
                    </div>
                    <div class="form-input">
                        <textarea name="message" placeholder="Message :" cols="10" rows="2"></textarea>
                    </div>
                    <a class="submit-button" href="" type="submit">Submit Now</a>
                </form>
            </div>
        </div>
        <div class="carts-craft-cta__image">
            <img src="/images/call-to-action.png" alt="Image">
        </div>
    </div>
</section>

<section class="carts-craft-news-letter section-gap">
    <div class="carts-craft-news-letter__grid ecommerce-container">
        <div class="text-side">
            <h2>Subscribe to Our Newsletter</h2>
        </div>
        <div class="input-side">
            <form action="">
                <div class="input-container">
                    <input class="news-letter-input" type="email" placeholder="abc@example.com">
                    <a class="news-letter-button" type="submit">Subscribe</a>
                </div>
            </form>
        </div>
</section>