<section class="carts-craft-cta section-gap">
    <div class="carts-craft-cta__grid ecommerce-container">
        <div class="carts-craft-cta__content">
            <div class="carts-craft__cta__text">
                <h3 class="title-gap">Call to Action</h3>
                <form action="">
                    <div class="form-input">
                        <input type="text" placeholder="Name :" name="name">
                    </div>
                    <div class="form-input">
                        <input type="email" placeholder="Enter Your Email :" name="email">
                    </div>
                    <div class="form-input">
                        <textarea name="message" placeholder="Message :" cols="10" rows="2"></textarea>
                    </div>
                    <a class="submit-button" href="" type="submit">Submit Now</a>
                </form>
            </div>
        </div>
        <div class="carts-craft-cta__image">
            <img src="/images/call-to-action.png" alt="Image">
        </div>
    </div>
</section>

