<footer>
    <section class="carts-craft-footer">

        <div class="carts-craft-footer__footer-grid ecommerce-container">
            <div class="address">

                <h2>Cartscraft</h2>
                <p class="footer-tag-line">Elevate Your Online Sales</p>

                <p>506-B, Virani Business Center,</p>
                <p>Opp Bharat Gears Limited, NH-48 Highway,</p>
                <p>Shil, Thane-400 612, MH, IN.</p>
            </div>
            <div class="carts-craft-footer__links">
                <ul>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="careers">Career's</a></li>
                    <li><a href="faq">FAQ's</a></li>
                    <li><a href="terms-of-use">Terms of service</a></li>
                    <li><a href="privacy-policy">Privacy policy</a></li>
                </ul>
            </div>
            <div class="carts-craft-footer__links">
                <ul>
                    <li><a href="services">Services</a></li>
                    <li><a href="solutions">Solutions</a></li>
                    <li><a href="inustries">Industries</a></li>
                    <li><a href="contact-us">Contact</a></li>
                </ul>
            </div>
            <div class="carts-craft-footer__contact">
                <p><a href="tel:456-7890"><img src="/images/phone.svg" alt="FaceBook"></a> +1 (123) 456-7890</p>
                <p><a href="mailto:info@example.co"><img src="/images/email.svg" alt="FaceBook"></a>info@example.com</p>
                <div class="carts-craft-footer__social-icons">
                    <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.svg"
                            alt="FaceBook"></a>
                    <a href="https://www.twitter.com/" target="_blank"><img src="/images/twitter.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="/images/linkedin.svg"
                            alt="Linkedin"></a>
                    <a href="https://www.youtube.com/" target="_blank"><img src="/images/youtube.svg" alt="Youtube"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.svg"
                            alt="Instagram"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="carts-craft-copy-right">
        <div class="carts-craft-copy-right__content ecommerce-container">
            <p>© 2023 cartscraft & Automation Pvt. Ltd. - All Rights Reserved</p>
            <p>Developed by <a href="https://sovorun.com/" target="_blank">SOVORUN</a></p>
        </div>

    </section>
</footer>