
<section class="carts-craft-news-letter section-gap">
    <div class="carts-craft-news-letter__grid ecommerce-container">
        <div class="text-side">
            <h2>Subscribe to Our Newsletter</h2>
        </div>
        <div class="input-side">
            <form action="">
                <div class="input-container">
                    <input class="news-letter-input" type="email" placeholder="abc@example.com">
                    <a class="news-letter-button" type="submit">Subscribe</a>
                </div>
            </form>
        </div>
</section>