<section class="carts-craft-news-letter section-gap">
    <div class="carts-craft-news-letter__grid ecommerce-container">
        <div class="text-side">
            <h2>Subscribe to Our Newsletter</h2>
        </div>
        <div class="input-side">
            <form action="/news-letter" method="post">
                <div class="input-container">
                    <input class="news-letter-input" name="email" type="email" placeholder="abc@example.com">
                    <button class="news-letter-button" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
</section>