
<div class="icon-bar">
    <a class="icon-bar-bg" href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.svg"
            alt="FaceBook"></a>
    <a class="icon-bar-bg" href="https://www.twitter.com/" target="_blank"><img src="/images/twitter.svg"
            alt="Twitter"></a>
    <a class="icon-bar-bg" href="https://www.linkedin.com/" target="_blank"><img src="/images/linkedin.svg"
            alt="Linkedin"></a>
    <a class="icon-bar-bg" href="https://www.youtube.com/" target="_blank"><img src="/images/youtube.svg"
            alt="Youtube"></a>
</div>