<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Page Title -->
    <title>Careers at Carts-Craft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Tags for Career Page -->
    <meta name="description"
        content="Explore exciting career opportunities at Carts-Craft. Join our innovative team and take your career to new heights.">

    <!-- Robots Meta Tag (to control indexing) -->
    <meta name="robots" content="index, follow">

    <!-- Canonical Tag (if applicable) -->
    <link rel="canonical" href="https://ecomm-service-llo7.onrender.com/careers">

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Careers at Carts-Craft">
    <meta property="og:description"
        content="Explore exciting career opportunities at Carts-Craft. Join our innovative team and take your career to new heights.">
    <meta property="og:url" content="https://ecomm-service-llo7.onrender.com/careers">
    <meta property="og:image" content="https://ecomm-service-llo7.onrender.com/images/careers-image.webp">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags (for Twitter sharing) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Careers at Carts-Craft">
    <meta name="twitter:description"
        content="Explore exciting career opportunities at Carts-Craft. Join our innovative team and take your career to new heights.">
    <meta name="twitter:image" content="https://ecomm-service-llo7.onrender.com/images/careers-image.webp">

    <!-- Favicon (your website's icon) -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Your CSS and JavaScript files here -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-footer.css" />
    <link rel="stylesheet" href="/css/@media-query.css">
</head>


<body>
    <%- include('partials/navbar'); -%>

 <div class="page-not-found">
    <div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
    	</div>
</div>
 </div>

        <%- include('partials/call-to-action'); -%>
            <%- include('partials/news-letter'); -%>
                <%- include('partials/footer'); -%>

</body>

</html>