<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Title -->
    <title>Blog Details - Carts Craft Blog</title>

    <!-- Meta Tags for Blog Page -->
    <meta name="description" content="Explore insightful articles and updates on e-commerce and business strategies.">

    <!-- Robots Meta Tag (to control indexing) -->
    <meta name="robots" content="index, follow">

    <!-- Canonical Tag (if applicable) -->
    <link rel="canonical" href="https://www.cartscraft.com/blog">

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Blog Details - Carts Craft Blog">
    <meta property="og:description"
        content="Explore insightful articles and updates on e-commerce and business strategies.">
    <meta property="og:url" content="https://www.cartscraft.com/blog">
    <meta property="og:image" content="https://www.cartscraft.com/images/blog-image.jpg">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags (for Twitter sharing) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Blog Details - Carts Craft Blog">
    <meta name="twitter:description"
        content="Explore insightful articles and updates on e-commerce and business strategies.">
    <meta name="twitter:image" content="https://www.cartscraft.com/images/blog-image.jpg">

    <!-- Favicon (your website's icon) -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Your CSS and JavaScript files here -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-footer.css" />
    <link rel="stylesheet" href="/css/@media-query.css">




</head>

<body>
    <%- include('partials/navbar'); -%>


        <div class="blog-details-section">
            <div class="blog-details-section__grid ecommerce-container">
                <div class="blog-details-section__main">
                    <div class="blog-details-section__main-img">
                        <img src="/images/blog-detail.png" alt="blog-detail">
                    </div>
                    <h1>lorem metus mattis tortor.</h1>
                    <div class="blog-details-section__main-update">
                        <span>Last Updated on September 06, 2023 By Shaikh Zoya</span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam tenetur nesciunt
                        asperiores similique doloremque fugiat. Voluptatem amet deserunt hic in?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolor optio voluptatem quia
                        cupiditate ab veritatis beatae tempora fugit. Modi, veritatis eius? Veritatis, quaerat!
                        Aliquid, deleniti officia! Consequuntur temporibus enim, autem non illum, ad rerum
                        dignissimos dolore modi excepturi debitis dolores praesentium ea reiciendis aperiam omnis
                        esse magni beatae! Et!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ducimus illum dolores
                        assumenda nisi ea iste harum repellat veniam quasi nam quas minima dignissimos pariatur
                        delectus magnam, nobis odio in neque consequatur totam inventore nihil quidem excepturi.
                        Tenetur, quisquam asperiores eaque laudantium ex exercitationem impedit beatae repellendus
                        quia dignissimos fugiat. Maiores cupiditate sunt error facilis vel, repellat quam
                        reprehenderit reiciendis.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis inventore, natus aliquid
                        aspernatur id sit cum voluptates, veritatis ipsam dolor? Necessitatibus molestiae mollitia
                        corporis placeat id porro eligendi fugiat quos quis. Doloremque amet itaque cum quisquam,
                        repellendus minus unde! Cum eaque beatae vitae atque suscipit quasi, minima vero eveniet
                        quisquam tempore repudiandae fugit consequuntur iure non. Laboriosam sint voluptas minus a omnis
                        reiciendis at autem cumque cum porro quibusdam nam ipsum et facere, rem cupiditate eaque veniam
                        quas qui vel ex error excepturi! Exercitationem qui cum reprehenderit. Aperiam corrupti non
                        ipsam molestiae perspiciatis numquam provident at assumenda nihil repellat, dolores earum iste
                        harum eligendi pariatur aliquid odio. Odio, sit! Consequatur quod voluptate itaque laudantium
                        nisi eius ea rem sunt dolore aut necessitatibus laboriosam error doloremque in porro, veritatis
                        optio voluptatem eveniet? At libero repellendus, voluptatibus perspiciatis ipsam dignissimos vel
                        dolor vero iusto est fuga quisquam tempore, eum, consequatur facilis blanditiis veniam quam
                        nihil repellat officiis aperiam. Odit natus excepturi laboriosam. Similique, optio nihil a
                        libero possimus, expedita deleniti fuga odio repellendus tempora totam. Numquam maiores
                        voluptates expedita beatae natus totam praesentium in, harum magni explicabo architecto nobis
                        voluptatem dignissimos, aspernatur doloribus nostrum! Nobis, harum sint at explicabo temporibus
                        eum excepturi alias ab fuga soluta. Eum dolores accusantium aliquid delectus consequuntur
                        impedit optio facilis nam sunt iusto laudantium sit consectetur quos, deserunt illo magnam
                        laborum nulla quis. Rem eveniet sint rerum dolor est assumenda praesentium optio nemo magnam
                        magni aliquid ratione, ducimus culpa maxime eligendi sit laudantium aliquam fugiat minus quis
                        ipsam esse quasi nisi! Perferendis voluptates nulla necessitatibus saepe repellendus tempora
                        iste voluptatem praesentium cum eius tenetur ipsum impedit repudiandae et, magnam, animi
                        doloremque voluptas hic facilis alias eum fugiat aspernatur autem ea. Recusandae a, consectetur
                        error est minus sequi commodi saepe magni sit cupiditate, voluptatem sapiente, non esse! Nobis
                        repellat quas mollitia reprehenderit placeat quae delectus reiciendis sapiente incidunt
                        blanditiis deleniti enim assumenda ab, adipisci optio perspiciatis aut ex consequatur qui
                        dolores dolorum consectetur impedit fugit. Beatae labore non libero officia deleniti, amet vel
                        est ipsa ducimus quibusdam, iusto dolor expedita tempora! Voluptatem eligendi at, voluptate,
                        repellat minima odio maiores quis maxime voluptatum magnam, fugit aut obcaecati accusamus vel
                        libero ratione omnis! Quisquam beatae atque eveniet illo reiciendis est cupiditate minus,
                        deleniti aliquid explicabo id illum sequi cumque quo a distinctio eum placeat modi dolorem odio
                        perferendis? Est distinctio tenetur ipsam odio similique commodi voluptatibus quis temporibus
                        impedit?
                    </p>
                </div>
                <div class="blog-details-section__related">
                    <h2 class="title-gap">Related Blogs</h2>
                    <div class="blog-details-section__related-content">
                        <div class="blog-details-section__related-img">
                            <img src="/images/blog-detail.png" alt="blog-detail" loading="lazy">
                        </div>
                        <div class="blog-details-section__related-update">
                            <span>Last Updated on September 06, 2023 By Shaikh Zoya</span>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam hic perferendis quibusdam
                            fugiat
                            cumque.</p>
                    </div>
                    <div class="blog-details-section__related-content">
                        <div class="blog-details-section__related-img">
                            <img src="/images/blog-detail.png" alt="blog-detail" loading="lazy">
                        </div>
                        <div class="blog-details-section__related-update">
                            <span>Last Updated on September 06, 2023 By Shaikh Zoya</span>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam hic perferendis quibusdam
                            fugiat
                            cumque.</p>
                    </div>
                </div>
            </div>

        </div>

        <%- include('partials/call-to-action'); -%>
            <%- include('partials/footer'); -%>

</body>

</html>