<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Carts Craft - Ecommerce Managed Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Empowering E-commerce Success with Managed Services. Your Partner for Online Growth.">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.carts-craft.com">


    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Carts Craft - Ecommerce Managed Services">
    <meta property="og:description"
        content="Empowering E-commerce Success with Managed Services. Your Partner for Online Growth.">
    <meta property="og:url" content="https://www.carts-craft.com">
    <meta property="og:image" content="https://www.carts-craft.com/images/your-image.webp">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags (for Twitter sharing) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Carts Craft - Ecommerce Managed Services">
    <meta name="twitter:description"
        content="Empowering E-commerce Success with Managed Services. Your Partner for Online Growth.">
    <meta name="twitter:image" content="https://www.carts-craft.com/images/your-image.webp">

    <!-- Favicon (your website's icon) -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Your CSS and JavaScript files here -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-footer.css" />
    <link rel="stylesheet" href="/css/@media-query.css">

</head>


<body>

    <%- include('partials/navbar'); -%>

        <section class="carts-craft__section section-gap">
            <div class="carts-craft__main">
                <div class="carts-craft__banner">
                    <h1>Ecommerce Managed Services</h1>
                    <p>Ecommerce management services involve outsourcing <br>
                        the Maintenance and evolution of your website and IT environment.</p>
                </div>
            </div>
            <a href="/contact-us">Connect</a>
        </section>

        <section class="carts-craft__home-main section-gap">
            <div class="carts-craft__home-grid ecommerce-container">
                <div class="carts-craft__home-text">
                    <h2>Welcome to Cartscraft</h2>
                    <p>At Cartscraft, we're thrilled to have you on board. Whether you're an online store owner or just
                        curious about ecommerce, you're in the right place. Our team is here to make your online
                        business
                        journey smoother, easier, and more successful.</p>
                    <p>Explore our services, and let us help you with the maintenance and growth of your website and IT
                        environment. We've got your back every step of the way.</p>
                    <p>Stay tuned for exciting updates and tips from our experts. Let's embark on this ecommerce
                        adventure
                        together!"</p>
                </div>
                <div class="carts-craft__home-image">
                    <img src="/images/ecommer-store-setup.webp" alt="Image">
                </div>
            </div>
        </section>

        <section class="section-gap ecommerce-container">
            <div class="carts-craft-home-card">
                <div class="carts-craft-home-card__content">
                    <img src="/images/our-team.webp" alt="our-team" loading="lazy">
                    <div class="carts-craft-home-card__text">
                        <h5>Inhouse Team</h5>
                        <p>Our dedicated in-house experts are here to drive your success with top-notch support.</p>
                    </div>
                </div>
                <div class="carts-craft-home-card__content">
                    <img src="/images/commitment.webp" alt="commitment" loading="lazy">
                    <div class="carts-craft-home-card__text">
                        <h5>Commitment</h5>
                        <p>We are committed to your goals, ensuring your satisfaction every step of the way.</p>
                    </div>
                </div>
                <div class="carts-craft-home-card__content">
                    <img src="/images/service.webp" alt="service" loading="lazy">
                    <div class="carts-craft-home-card__text">
                        <h5>Qualitative Service</h5>
                        <p>Delivering nothing but quality service to enhance your business's performance.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="carts-craft-home-service section-gap ecommerce-container">
            <div class="carts-craft-home-service__heading">
                <h2 class="m-b-20">Our Services</h2>
            </div>
            <div class="carts-craft-home-service__grid">
                <div class="carts-craft-service-grid__card">
                    <div class="carts-craft-service-grid__card-img">
                        <img src="/images/e-commerce-store-setup.webp" alt="E-commerce Store Setup" loading="lazy">
                        <div class="image-overlay">
                            <p>E-commerce Store Setup</p>
                        </div>
                    </div>
                    <div class="carts-craft-service-grid__card-content">
                        <p>We create customized online storefronts that match your brand's identity and objectives.</p>
                        <a href="/services/ecommerce-store-setup" class="service-button"><span>Read More</span></a>
                    </div>
                </div>
                <div class="carts-craft-service-grid__card">
                    <div class="carts-craft-service-grid__card-img">
                        <img src="/images/product-listing-and-optimization.webp" alt="product listing and optimization"
                            loading="lazy">
                        <div class="image-overlay">
                            <p>Product Listing & Optimization</p>
                        </div>
                    </div>
                    <div class="carts-craft-service-grid__card-content">
                        <p>Our experts ensure your products are not only listed but optimized for maximum visibility and
                            sales.</p>
                        <a href="/services/product-listing-optimization" class="service-button"><span>Read
                                More</span></a>
                    </div>
                </div>
                <div class="carts-craft-service-grid__card">
                    <div class="carts-craft-service-grid__card-img">
                        <img src="/images/inventory-management.webp" alt="E-commerce Store Setup" loading="lazy">
                        <div class="image-overlay">
                            <p>Inventory Management</p>
                        </div>
                    </div>
                    <div class="carts-craft-service-grid__card-content">
                        <p>Effortlessly keep track of your inventory, preventing stockouts and ensuring customer
                            satisfaction.</p>
                        <a href="/services/inventory-management" class="service-button"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </section>


        <section class="carts-craft-home-partners section-gap">
            <div class="ecommerce-container">
                <div class="title-gap">
                    <h2>Acknowledged by experts</h2>
                </div>
                <div class="carts-craft-home-partners__grid">
                    <img src="/images/tata.webp" alt="Tata">
                    <img src="/images/kwality.webp" alt="kwality">
                    <img src="/images/mantra.webp" alt="mantra">
                    <img src="/images/godreg.webp" alt="godreg">
                    <img src="/images/cem.webp" alt="cem">
                </div>
            </div>
        </section>


        <section class="carts-craft-accordian section-gap">
            <div>
                <div class="carts-craft-home-accordian__heading">
                    <h2>Faq's</h2>
                </div>
                <div class="carts-crafts-accordian__grid">
                    <button class="accordion">
                        <p>What does "E-commerce Store Setup" entail</p>
                        <div class="accrodian-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8.33333 13.2222L12 9.55556L15.6667 13.2222M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </button>
                    <div class="panel">
                        <p>Our E-commerce Store Setup service includes creating and configuring your online store from
                            scratch, ensuring it's customized to your brand, and fully functional for selling products
                            or
                            services.</p>
                    </div>
                </div>
                <div class="carts-crafts-accordian__grid">
                    <button class="accordion">
                        <p>What is the importance of product listing and optimization?</p>
                        <div class="accrodian-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8.33333 13.2222L12 9.55556L15.6667 13.2222M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </button>
                    <div class="panel">
                        <p>Product Listing and Optimization is crucial for boosting your online visibility. We make sure
                            your products are not only listed but also optimized to attract potential customers and
                            improve
                            sales.</p>
                    </div>
                </div>
                <div class="carts-crafts-accordian__grid">
                    <button class="accordion">
                        <p>How can your Inventory Management service benefit my business?</p>
                        <div class="accrodian-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8.33333 13.2222L12 9.55556L15.6667 13.2222M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </button>
                    <div class="panel">
                        <p>Our Inventory Management service allows you to efficiently track your product stock in
                            real-time.
                            This means you'll never run out of stock, ensuring you can meet customer demands without
                            hiccups.</p>
                    </div>
                </div>
                <div class="carts-crafts-accordian__grid">
                    <button class="accordion">
                        <p>How does Order Processing and Fulfilment work?</p>
                        <div class="accrodian-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8.33333 13.2222L12 9.55556L15.6667 13.2222M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </button>
                    <div class="panel">
                        <p>We handle the entire order process, from order placement to successful delivery. Our experts
                            ensure that orders are processed quickly and accurately, providing a seamless experience for
                            your customers.</p>
                    </div>
                </div>
                <div class="carts-crafts-accordian__grid">
                    <button class="accordion">
                        <p>What level of customer support do you offer?</p>
                        <div class="accrodian-back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8.33333 13.2222L12 9.55556L15.6667 13.2222M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </button>
                    <div class="panel">
                        <p>Our Customer Support team is dedicated to providing exceptional service. We're here to
                            address
                            customer inquiries, resolve issues, and ensure your customers are satisfied with their
                            shopping
                            experience.</p>
                    </div>
                </div>

            </div>
        </section>


        <section class="carts-craft-home-blog section-gap ecommerce-container">
            <div class="carts-craft-home-blog__heading">
                <h2 class="m-b-20">Our blogs</h2>
            </div>
            <div class="carts-craft-home-blog__grid">
                <div class="carts-craft-home-blog__card">
                    <div class="carts-craft-home-blog__card-image">
                        <img src="/images/e-commerce-store-setup.webp" alt="E-commerce Store Setup" loading="lazy">
                    </div>
                    <h5>E-commerce Store Setup</h5>
                    <p>We create customized online storefronts that match your brand's identity and objectives,
                        delivering a
                        seamless shopping experience for your customers.
                    </p>
                    <div class="blog-footer">
                        <a href="/blog/ecommerce-store-setup-compelete-guide"><span>Read More</span></a>
                        <p><time>5 </time>Min</p>
                        <p> <time datetime="2017-02-14">26 oct, 2023</time></p>
                    </div>
                </div>
                <div class="carts-craft-home-blog__card">
                    <div class="carts-craft-home-blog__card-image">
                        <img src="/images/product-listing-ptimization.webp" alt="Product Listing and Optimization"
                            loading="lazy">
                    </div>
                    <h5>Product Listing and Optimization</h5>
                    <p>Our experts optimize your product listings to maximize visibility and sales, ensuring that your
                        products stand out in the competitive online market."</p>
                    <div class="blog-footer">
                        <a href="#"><span>Read More</span></a>
                        <p><time>5 </time>Min</p>
                        <p> <time datetime="2017-02-14">26 oct, 2023</time></p>
                    </div>
                </div>
                <div class="carts-craft-home-blog__card">
                    <div class="carts-craft-home-blog__card-image">
                        <img src="/images/inventory-management.webp" alt="Inventory Management" loading="lazy">
                    </div>
                    <h5>Inventory Management</h5>
                    <p>Effortlessly track your product inventory in real-time, preventing stockouts and ensuring your
                        customers can always find what they need.
                    </p>
                    <div class="blog-footer">
                        <a href="#"><span>Read More</span></a>
                        <p><time>5 </time>Min</p>
                        <p> <time datetime="2017-02-14">26 oct, 2023</time></p>
                    </div>
                </div>
            </div>
        </section>


        <%- include('partials/call-to-action'); -%>
            <%- include('partials/news-letter'); -%>


                <%- include('partials/footer'); -%>

                    <script src="/js/script.js"></script>
</body>

</html>