<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Title -->
    <title>Terms of Use - Carts Craft</title>

    <!-- Meta Tags for Terms of Use Page -->
    <meta name="description"
        content="Review Carts Craft's Terms of Use to understand the conditions and guidelines for using our website. By accessing our website, you agree to abide by these terms.">

    <!-- Robots Meta Tag (to control indexing) -->
    <meta name="robots" content="index, follow">

    <!-- Canonical Tag (if applicable) -->
    <link rel="canonical" href="https://ecomm-service-llo7.onrender.com/terms-of-use">

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Terms of Use - Carts Craft">
    <meta property="og:description"
        content="Review Carts Craft's Terms of Use to understand the conditions and guidelines for using our website. By accessing our website, you agree to abide by these terms.">
    <meta property="og:url" content="https://ecomm-service-llo7.onrender.com/terms-of-use">
    <meta property="og:image" content="https://ecomm-service-llo7.onrender.com/images/terms-of-use-image.webp">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags (for Twitter sharing) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Terms of Use - Carts Craft">
    <meta name="twitter:description"
        content="Review Carts Craft's Terms of Use to understand the conditions and guidelines for using our website. By accessing our website, you agree to abide by these terms.">
    <meta name="twitter:image" content="https://ecomm-service-llo7.onrender.com/images/terms-of-use-image.webp">

    <!-- Favicon (your website's icon) -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Your CSS and JavaScript files here -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar-footer.css" />
    <link rel="stylesheet" href="/css/@media-query.css">

</head>



<body>
    <%- include('partials/navbar'); -%>

        <section>
            <div class="carts-craft-about-banner">
                <img src="/images/terms-of-use.webp" alt="About Banner">
                <h1>Terms Of Use</h1>
            </div>
            <div class="terms-of-use-content">
                <p class="ecommerce-container">By accessing and using the Carts Craft website, you acknowledge that you
                    have read, understood, and agree
                    to
                    be bound by the terms and conditions outlined herein. If you do not agree with any part of these
                    terms,
                    please refrain from using the website. Your continued use of the site constitutes your acceptance of
                    any
                    revisions or updates to these terms. It is your responsibility to review this page periodically for
                    changes.
                    The terms apply to all visitors, users, and others who access or use the services provided on this
                    website.
                </p>
            </div>

        </section>
        <section class="terms-of-use-main ecommerce-container section-gap">

            <div class="terms-of-use m-t-50">
                <h5 class="m-b-20">Acceptance of Terms:</h5>
                <p>When using this website, you agree to conduct yourself responsibly, ethically, and in compliance with
                    all
                    applicable laws and regulations. Prohibited activities include, but are not limited to:</p>
                <ul class="terms-of-use-points">
                    <li>Engaging in any form of harassment, abuse, or discrimination.</li>
                    <li>Uploading, transmitting, or distributing malicious software or any content that may disrupt or
                        compromise the security of the website.</li>
                    <li>Impersonating any person or entity or misrepresenting your affiliation with any entity.</li>
                    <li>Posting or transmitting any content that is defamatory, obscene, or violates the rights of
                        others.
                    </li>
                    <li>Attempting to gain unauthorized access to any part of the website or user accounts.</li>
                </ul>
                <p>Users are expected to adhere to these guidelines to ensure a positive and secure environment for all
                    visitors. Violation of these conduct rules may result in the termination of user accounts and legal
                    action.
                </p>
            </div>
            <div class="terms-of-use m-t-50">
                <h5 class="m-b-20">User Conduct:</h5>
                <p>Ownership: All content, trademarks, logos, graphics, and intellectual property on this website are
                    the
                    property of Carts Craft, unless otherwise stated. Use of our intellectual property without express
                    permission is strictly prohibited. User Permissions: Users are granted a limited, non-exclusive,
                    revocable
                    license to access and use the content for personal or non-commercial purposes. Any unauthorized use,
                    reproduction, or distribution of our intellectual property is expressly prohibited. </p>
                <p>Third-Party Content: Content originating from third parties is subject to their respective
                    intellectual
                    property rights. Users are responsible for understanding and adhering to any additional terms
                    associated
                    with such content. Notification of Violations: If you believe your intellectual property rights have
                    been
                    infringed upon, please notify us promptly, providing details for us to investigate and address the
                    issue.
                </p>
            </div>
            <div class="terms-of-use m-t-50">
                <h5 class="m-b-20">Prohibited Activities:</h5>
                <p>Users are strictly prohibited from engaging in the following activities while using this website:</p>
                <ul class="terms-of-use-points">
                    <li><strong>Unlawful Conduct: </strong>Any activity that violates local, national, or international
                        laws
                        and
                        regulations is strictly prohibited.</li>
                    <li><strong>Harassment or Abuse: </strong>Harassment, abuse, or any form of discriminatory behavior
                        towards
                        other users, staff, or any individuals associated with this website is not tolerated.</li>
                    <li><strong> Malicious Actions: </strong>Uploading, transmitting, or distributing any content or
                        software
                        that may harm, interfere with, or compromise the security of the website or its users is
                        strictly
                        prohibited.</li>
                    <li><strong> Impersonation: </strong>Impersonating any person, entity, or misrepresenting
                        affiliation
                        with
                        any entity is not allowed.</li>
                    <li><strong> Infringement: </strong>Any activity that infringes upon the intellectual property
                        rights of
                        Carts Craft or third parties is strictly prohibited.</li>
                    <li><strong> Unauthorized Access: </strong>Attempting to gain unauthorized access to any part of the
                        website, user accounts, or sensitive information is strictly prohibited.</li>
                </ul>
                <p>Violations of these prohibited activities may result in the suspension or termination of user
                    accounts,
                    legal
                    action, and reporting to relevant authorities. Users are expected to adhere to these guidelines to
                    maintain
                    a safe and respectful environment for all users.</p>
            </div>
            <div class="terms-of-use m-t-50">
                <h5 class="m-b-20">Disclaimer of Warranties:</h5>
                <p>As-Is Nature of the Website: This website is provided "as is" and "as available" without any
                    warranties,
                    whether express or implied. Carts Craft makes no representations or warranties regarding the
                    accuracy,
                    completeness, or reliability of any content or functionality on the website.</p>
                <p><strong>No Endorsement: </strong>Carts Craft does not endorse, guarantee, or warrant any products,
                    services,
                    or information advertised or offered by third parties on the website. Use at Your Own Risk: Users
                    acknowledge that they use the website at their own risk. Carts Craft disclaims all warranties,
                    including
                    but
                    not limited to the implied warranties of merchantability, fitness for a particular purpose, and
                    non-infringement.</p>
                <p><strong>No Warranty of Uninterrupted Access: </strong>Carts Craft does not warrant that the website
                    will
                    be
                    uninterrupted, error-free, secure, or free of viruses or other harmful components. Content Accuracy:
                    While
                    we strive to provide accurate and up-to-date information, Carts Craft does not warrant the accuracy
                    or
                    completeness of the content on the website, and it may be subject to change without notice.</p>
                <p>Users are advised to use their discretion and judgment when accessing and relying on information from
                    this
                    website. Carts Craft does not make any warranties or representations regarding the use of the
                    content on
                    the
                    website in terms of its correctness, accuracy, adequacy, usefulness, timeliness, reliability, or
                    otherwise.
                </p>
            </div>
            <div class="terms-of-use m-t-50">
                <h5 class="m-b-20">Limitation of Liability:</h5>
                <p><strong>No Liability for Damages: </strong>Carts Craft and its affiliates, officers, employees,
                    agents,
                    and
                    partners are not liable for any direct, indirect, incidental, consequential, or special damages
                    arising
                    from
                    the use of, or inability to use, the website or its content.</p>
                <p><strong>Third-Party Content: </strong>Carts Craft is not responsible for any third-party content on
                    the
                    website. Any reliance on such content is at the user's own risk.</p>
                <p><strong>No Responsibility for User Actions: </strong>Carts Craft is not responsible for the actions,
                    conduct,
                    or content of users on the website. Users are solely responsible for their interactions and
                    contributions.
                </p>
                <p><strong>Limitation of Damages: </strong>To the fullest extent permitted by law, Carts Craft disclaims
                    any
                    liability for damages, including but not limited to, damages for loss of</p>
            </div>
        </section>




        <%- include('partials/call-to-action'); -%>
            <%- include('partials/news-letter'); -%>
                <%- include('partials/footer'); -%>
</body>

</html>